<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iotinterface">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IotInterface">
        <activity
            android:name=".widget5.RadioW5Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.RadioW4Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.RadioW3Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.RadioW2Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.RadioW1Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.Color_Pick_W5Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.Color_Pick_W4Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.Color_Pick_W3Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.Color_Pick_W2Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.Color_Pick_W1Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".create.createActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.UpDownActivityW5"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.ArrowActivityW5"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.NumPadActivityW5"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.SliderActivityW5"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget5.OnOffActivityW5"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.UpDownActivityW4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.ArrowActivityW4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.NumPadActivityW4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.SliderActivityW4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget4.OnOffActivityW4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.UpDownActivityW3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.ArrowActivityW3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.NumPadActivityW3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.SliderActivityW3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget3.OnOffActivityW3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.UpDownActivityW2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.ArrowActivityW2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.NumPadActivityW2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.SliderActivityW2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget2.OnOffActivityW2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.UpDownActivityW1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.ArrowActivityW1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.NumPadActivityW1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.SliderActivityW1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".widget1.OnOffActivityW1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>